<div class="main-content">

{{> header}}
<p>This weather app was developed by Primo. It uses data from <a href="https://openweathermap.org">Open weather </a> and <a href="https://mapbox.com">Map Box</a> to fetch current weather in the location searched</p>
<img src="/img/bebe.jpg" class = "my-image" alt="">  
</div>
  


{{>footer}}