<div class="main-content">

{{> header}}
<p>Use this site to get weather in any location of your choice</p>
<form action="">
    <input type="text" name="weatherLocation" id="" placeholder="Enter a city name">
    <button type="submit">See Weather</button>
    
</form>
<p id="message-1"></p>
<p id="message-2"></p>
</div>
{{>footer}}